[Unit]
Description="Simple bluetooth GPIO Service manager"
After=bluetooth.target
Requires=bluetooth.target

[Service]
TimeoutStartSec=0
WorkingDirectory=/opt/bt-speaker
ExecStartPre=/bin/sleep 1
ExecStart=/opt/bt-speaker/service_manager.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target